header {
  background-color: #e4d0d0;
  color: #867070;
  border: 2px solid #d5b4b4;
  width: 100%;
  height: auto;
  padding-bottom: 5px;
}

h1 {
  text-align: center;
  font: bold 70px "Times New Roman", serif;
  text-shadow: 2px 2px red;
}

#menu-toggle {
  display: none;
}

body {
  font: normal 16px Verdana, sans-serif;
  background-color: #f5ebeb;
  margin: 5px;
}

div label {
  padding: 2%;
  margin: 4px;
}

.custom-column {
  font: bold italic 16px Verdana, sans-serif;
  box-sizing: border-box;
  border-radius: 5px;
}

img {
  width: 100%;
  border-radius: 5px;
}

.column {
  float: left;
  width: 30%;
  margin: 4px;
  padding: 5px;
  background-color: #e4d0d0;
  border: 2px solid #d5b4b4;
  border-radius: 8px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

body::after {
  content: "\00a9 Winc Winc Dating App sponsored by Lovesick Dating";
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #867070;
}
